header{
    display: flex;
    height: 270px;
    width: 100%;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
}
.header_logo{
    height: 27px;
    width: 120px;
}
nav{
    display: flex;
    align-items: center;
}
.instagram_icon{
    height: 20px;
    width: 20px;
}
.navmenu{
    font-family: "Meiryo", sans-serif;
    padding: 17px;
    font-size: 14.4px;
    color: #24292E;
}
.main_visual{
    height: 420px;
    width: 100%;
    object-fit: cover;
}
.About_details{
    display: flex;
    justify-content: center;
}
.About_title{
    font-family: "Meiryo", sans-serif;
    font-size: 24px;
    color: #24292E;
    text-align: center;
    margin-bottom: 74px;
    margin-top: 87px;
}
.About_content{
    text-align: left;
    max-width: 827px;
    margin: 0px 15px 0px 15px;
    font-family: "Meiryo", sans-serif;
    font-size: 14.4px;
    color: #24292E;
}
.link{
    font-family: "Meiryo", sans-serif;
    font-size: 14.4px;
    color: #24292E;
}
.details{
    margin-top: 37px;
    margin-bottom: 47px;
    line-height: 1.7;
}
.profile_text{
    line-height: 1.7;
}
.Works_title{
    font-family: "Meiryo", sans-serif;
    font-size: 24px;
    color: #24292E;
    text-align: center;
    margin: 133px 0 70px 0;
}
.Works_content{
    display: flex;
    justify-content: center;
}
.Works_photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 840px;
    gap: 24px;
}
.photo{
    height: 172px;
    width: 264px;
}
.News_title{
    font-family: "Meiryo", sans-serif;
    font-size: 24px;
    color: #24292E;
    text-align: center;
    margin: 137px 0 87px 0;
}
.News_container{
    display: flex;
    justify-content: center;
}
.News_details{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 827px;
}
.News_contents{
    display: flex;
    font-family: "Meiryo", sans-serif;
    font-size: 14.4px;
    color: #24292E;
}   
.date{
    width: 20%;
    border-bottom: 2px solid rgba(200, 200, 200, 0.3);  /* 下に線を追加 */
    padding: 45px;
    line-height: 1.7;
}
.News_text{
    width:80%;
    border-bottom: 2px solid rgba(200, 200, 200, 0.3);  /* 下に線を追加 */
    padding: 45px;
    line-height: 1.7;
}
.date1{
    width: 20%;
    border-top: 2px solid rgba(200, 200, 200, 0.3);
    border-bottom: 2px solid rgba(200, 200, 200, 0.3);  /* 下に線を追加 */
    padding: 45px;
    line-height: 1.7;
}
.News_text1{
    width:80%;
    border-top: 2px solid rgba(200, 200, 200, 0.3);
    border-bottom: 2px solid rgba(200, 200, 200, 0.3);  /* 下に線を追加 */
    padding: 45px;
    line-height: 1.7;
}
.Contact_title{
    font-family: "Meiryo", sans-serif;
    font-size: 24px;
    color: #24292E;
    text-align: center;
    margin: 156px 0 70px 0;
}
.form_container{
    display: flex;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    max-width: 840px;
    width: 100%;
}
.form_content{
    display: flex;
    font-family: "Meiryo", sans-serif;
    font-size: 14.4px;
    color: #24292E;
}
.form_text{
    margin-left: 45px;
    padding: 5px;
    width: 20%;
}
.form_details{
    width: 80%;
    height: 43px;
    margin: 5px 45px 5px 5px;
}
.form_message{
    width: 80%;
    height: 160px;
    margin: 5px 45px 5px 5px;
}
.button{
    display: flex;
    justify-content: center;
}
.submit_botton{
    margin-top: 30px;
    width: 200px;
    height: 53px;
    color: #FFFFFF;
    background-color: #24292E;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    background-color: #24292E;
    margin-top: 130px;
}
.footer_text{
    color: #FFFFFF;
    font-size: 10px;
}
@media(max-width:450px){
    header{
        display: flex;
        flex-direction: column;
        width:100%;
        height: 102px;
    }
    .main_visual{
        content: url(img/mainvisual-sp.jpg);
    }
    .form_content{
        flex-direction: column;
    }
     .form_text{
        margin-left: 17px;
        width: 100%;
     }
     .form_details{
        margin: 5px 17px 5px 17px;

     }
     .form_message{
        margin: 5px 17px 5px 17px;
     }
     .News_contents{
        flex-direction: column;
     }
     .News_text{
        padding: 0 0 10px 0;
        margin:0 0 10px 29px;
        
     }
     .date{
        padding: 0;
        margin-left:29px;
        border-bottom: none;
     }
     .date1{
        width: 80%;
        border-bottom: none;
        padding: 10px 0 0 0;
        margin-left: 29px;
     }
     .News_text1{
        padding: 0 0 10px 0;
        margin:0 0 10px 29px;
        border-top: none;
     }
     }